body {
    background-color: #272727;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 30px 0 30px 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    border-bottom: 1px dotted;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    border: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cl {
    clear: both;
}

.header {
    background: url('../img/header.jpg');
    height: 60px;
    margin: 0 auto 30px auto;
    width: 940px;
}

h1 {
    display: none;
    visibility: hidden;
}

.intro {
    background: url('../img/intro.gif');
    height: 130px;
    margin: 0 auto 30px auto;
    padding: 30px 35px 0 245px;
    width: 660px;
    font-size: 16px;
    line-height: 36px;
    text-shadow: -1px 1px #444;
}

#content {
    width: 940px;
    margin: 0 auto;
}

#uploadbox {
    background-color: #3b3c3d;
    padding: 30px;
    border: 1px #484949 solid;
    margin-bottom: 30px;
}

#footer {
    padding: 0 30px 0 30px;
    width: 880px;
    margin: 0 auto;
}

#footer p {
    font-size: 12px;
    color: #484949;
}

.section {
    height: 240px;
    display: none;
    background-color: #3b3c3d;
    padding: 30px;
    border: 1px #484949 solid;
    margin: 0 0 30px 0;
}

.container {
    float: right;
}

.table {
    margin-top: 12px;
    height: 214px;
    width: 470px;
    overflow: auto;
    font-size: 11px;
    font-family: 'Verdana', sans-serif;
}

.table::-webkit-scrollbar {
    width: 12px;
}
 
.table::-webkit-scrollbar-track {
    background-color: #484949;
    -webkit-border-radius: 5px;
}
 
.table::-webkit-scrollbar-thumb {
    background-color: #2e3031;
    -webkit-border-radius: 5px;
}

table {
    width: 450px;
    table-layout: fixed;
}

th {
    text-align: left;
}

.rank {
    width: 35px;
}

.coltwo {
    width: 40px;
}

td {
    cursor: pointer;
}

tr:hover {
    background: #343434;
    color: #aaa;
}

td {
    word-wrap: break-word;
}

tr:hover th {
    background: #3b3c3d;
    color: #ddd;
}

#uploadbox {
    font-size: 14px;
}

input {
    display: none;
    margin-top: 20px;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#modal {
    width: 760px;
    background-color: #3b3c3d;
    padding: 20px;
    border: 1px #484949 solid;
    margin: 20px auto 0 auto;
}

#modal .table {
    max-height: 214px;
    height: auto;
}

#modal .table td {
    cursor: auto;
}

#modal #close {
    float: right;
    text-align: right;
    cursor: pointer;
}

#modal a:hover {
    border-bottom: 1px #3b3c3d solid;
}

.barChart {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    margin-left: -6px;
}

.barChart rect {
    stroke: #2e3031;
    fill: #ff8237;
}

.barChart text.bar, .barChart text.rule {
    fill: white;
}

.barChart rect:hover {
    fill: #fe9759;
}

.lineChart {
    font: 10px sans-serif;
}

.lineChart .axis path,
.lineChart .axis line {
    fill: none;
    stroke: #595959;
    shape-rendering: crispEdges;
}

.lineChart .x.axis path {
    display: none;
}

.lineChart .line {
    fill: none;
    stroke: #ff8237;
    stroke-width: 1px;
}

.lineChart .rLine {
    fill: none;
    stroke: #ff8237;
    stroke-width: 1px;
}

.lineChart .bLine {
    fill: none;
    stroke: #595959;
    stroke-width: 1px;
}

.lineChart text {
    fill: #ddd;
}
