body {
    background-color: #2e3031;
    color: #ddd;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0 0 20px 0;
}

a, a:link, a:visited, a:active, a:hover {
    color: #33803a;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    border: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cl {
    clear: both;
}

#header {
    background-color: #fff;
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ccc));
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -o-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(to bottom, #fff, #ccc);
    background: -ms-linear-gradient(left, #ccc, #fff);
    background-repeat: repeat-x;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ccc, endColorstr=#fff)";
    border-bottom: 3px #eee solid;
}

#headercontainer {
    width: 800px;
    margin: 0 auto;
    height: 100px;
}

#headercontainer span {
    color: #777;
    padding: 23px 20px;
    margin: 0;
    display: block;
    margin: 0 1px 0 1px;
}

h1 {
    text-align: center;
    float: left;
    width: 100px;
    margin: 0 auto;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #a0a0a0;
    margin: 20px;
}

h1:first-line {
    font-size: 24px;
    font-weight: bold;
    color: #3c9845;
}

#content {
    width: 800px;
    margin: 0 auto;
}

#uploadbox {
    background-color: #3b3c3d;
    padding: 20px;
    border: 1px #484949 solid;
    margin: 20px 0 20px 0;
}

#footer {
    padding: 0 20px 0 20px;
    margin: 0 1px 0 1px;
}

#footer p {
    font-size: 12px;
    color: #484949;
}

#traffic,
#hosts,
#requests,
#pages,
#ref,
#refdomains,
#errors,
#largestrequests {
    height: 240px;
    display: none;
    background-color: #3b3c3d;
    padding: 20px;
    border: 1px #484949 solid;
    margin: 20px 0 20px 0;
}

.container {
    float: right;
}

.table {
    margin-top: 12px;
    height: 214px;
    width: 360px;
    overflow: auto;
    font-size: 11px;
    font-family: 'Verdana', sans-serif;
}

.table::-webkit-scrollbar {
    width: 12px;
}
 
.table::-webkit-scrollbar-track {
    background-color: #484949;
    -webkit-border-radius: 5px;
}
 
.table::-webkit-scrollbar-thumb {
    background-color: #2e3031;
    -webkit-border-radius: 5px;
}

table {
    width: 340px;
    table-layout: fixed;
}

th {
    text-align: left;
}

.rank {
    width: 35px;
}

.coltwo {
    width: 40px;
}

td {
    cursor: pointer;
}

tr:hover {
    background: #343434;
    color: #aaa;
}

td {
    word-wrap: break-word;
}

tr:hover th {
    background: #3b3c3d;
    color: #ddd;
}

#uploadbox {
    font-size: 14px;
}

input {
    display: none;
    margin-top: 20px;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#popup {
    width: 760px;
    background-color: #3b3c3d;
    padding: 20px;
    border: 1px #484949 solid;
    margin: 20px auto 0 auto;
}

#popup .table {
    max-height: 214px;
    height: auto;
}

#popup .table td {
    cursor: auto;
}

#popup #close {
    float: right;
    text-align: right;
}

#popup a:hover {
    border-bottom: 1px #3b3c3d solid;
}

.barChart {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
    margin-left: -6px;
}

.barChart rect {
    stroke: #2e3031;
    fill: #43bf60;
}

.barChart text.bar, .barChart text.rule {
    fill: white;
}

.barChart rect:hover {
    fill: #74cd89;
}

.lineChart {
    font: 10px sans-serif;
}

.lineChart .axis path,
.lineChart .axis line {
    fill: none;
    stroke: #595959;
    shape-rendering: crispEdges;
}

.lineChart .x.axis path {
    display: none;
}

.lineChart .rLine {
    fill: none;
    stroke: #43bf60;
    stroke-width: 1px;
}

.lineChart .bLine {
    fill: none;
    stroke: #595959;
    stroke-width: 1px;
}

.lineChart text {
    fill: #ddd;
}